
body{
	margin: 0;
}

#header{
	position: relative;
	width: 100%;
	height: 600px;
	background-image: url('bg2.jpg');
	background-size: 100%;
}
#nav{
	display: inline;
	width :100%;
	height: 50px;
	
}
#logo{
	height: 26px;
	width: 30px;
	margin-top: 20px;
	margin-left: 27px;
}
#logo_text{
	display: inline;
	color: white;
	font-size: 25px;
	top:-5px;
	left :60px;
	font-family: sans-serif;
	font-weight: bold;
}
#host_link{
	display: inline;	
	float: right;
	text-decoration: none;
	font-family: sans-serif;
	color: white;
	border: 2px solid white;
	padding: 5px;
	margin-right:50px;
	border-radius: 5px;
	margin-top: 20px;
}
#host_link:visited{
	text-decoration: none;
	font-family: sans-serif;
	color: white;
}
#host_link:hover {
	background-color: rgba(0,0,0,0.5);
}
#nav_link1{
	display: inline;
	float: right;
	text-decoration: none;
	font-family: sans-serif;
	color: white;	
	margin-right: 100px;
	padding: 5px;
	margin-top: 20px;
}
#nav_link2{
	display: inline;
	float: right;
	text-decoration: none;
	font-family: sans-serif;
	color: white;
	margin-right: 50px;
	padding: 5px;
	margin-top: 20px;
}
#nav_link3{
	display: inline;
	float: right;
	text-decoration: none;
	font-family: sans-serif;
	color: white;
	margin-right: 50px;
	padding: 5px;
	margin-top: 20px;
}
#welcome_text_div{
	position: absolute;
	width: 60%;
	height: 300px;
	top: 22%;
	left: 18%;
}
#welcome_text{
	background: linear-gradient(to right,#d6249f 0%,#fd5949 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 57px;
	text-align: center;
}
#welcome_text_sub{
	color: #b3f0ff;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 37px;
	text-align: center;
}
#welcome_link{	
	text-decoration: none;
	font-family: sans-serif;
	color: white;
	border: 2px solid white;
	background-color: rgba(250,250,250,0.6);
	padding: 10px 30px 10px 30px;
	margin-left:330px;
	border-radius: 5px;
	margin-left: 38%;
}
#welcome_link:hover{
	background-color: rgba(0,0,0,0.6);
}
#searchbar{
	position: absolute;
	width: 60%;
	height: 50px;
	bottom: 10%;
	border-radius: 5px;
	margin-left: 21%;
}
#where_div{
	position: absolute;
	width: 35%;
	height: 45px;
	background-color:#DCDCDC;
	border-right: 0.5px solid grey;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}
#check_div{
	position: absolute;
	width: 15%;
	height: 45px;
	background-color:#DCDCDC;
	border-right: 0.5px solid grey;
	left:35%;
}
#check_out_div{
	position: absolute;
	width: 16%;
	height: 45px;
	background-color:#DCDCDC;
	border-right: 0.5px solid grey;
	left:50%;
}
#guest_div{
	position: absolute;
	width: 18%;
	height: 45px;
	background-color:#DCDCDC;
	border-right: 0.5px solid grey;
	left:66%;
}
#search_div{
	position: absolute;
	width: 16%;
	height: 50px;
	left:84%;
	background-color:#cc0000;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border: 0.5px solid grey;
}
#search_div:hover{
	background-color: #DC143C;
}

#search_text{
	font-family: sans-serif;
	color: white;
	margin-left: 30%;
    margin-top: 11%;
	text-decoration: none;
}
#mid{
	position: relative;
	width: 100%;
	height: 700px;
	background-size: 100%;
	background-color: white;
}
#part1{
	float: left;
    display: inline;
	width: 30%;
	height: 400px;
	margin-top: 50px;
	margin-left: 3%;
	border-radius: 15px;
	border :0.5px solid grey; 
	box-shadow: 10px 10px 5px grey;
}
#part2{
	float: left;
    display: inline;
	width: 30%;
	height: 400px;
	margin-top: 50px;
	margin-left: 2%;
	border-radius: 15px;
	border :0.5px solid grey; 
	box-shadow: 10px 10px 5px grey;
}
#part3{
	float: left;
    display: inline;
	width: 30%;
	height: 400px;
	margin-top: 50px;
	margin-left: 2%;
	border-radius: 15px;
	border :0.5px solid grey; 
	box-shadow: 10px 10px 5px grey;
}
#part_image{
	width:100%;
	height:80%;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
.mid_text{
	color: black;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 25px;
	margin-top: 5px;
	margin-left: 15px;
}
.link1{
	text-decoration: none;
}
.mid_para{
	color: grey;
	font-family: sans-serif;
	font-size: 15px;
	margin-top: -25px;
	margin-left: 15px;
}
#mid_heading{
	margin-left: 100px;
	margin-top: 50px;
	font-family: sans-serif;
	background: linear-gradient(to right, rgb(146, 23, 77) 9.38%, rgb(228, 29, 92) 88.54%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 50px;
}

#lower_mid{
	background-color:black;
	height:1000px;
	width:100%; 
}
#lower_part1{
	display: inline;
    float: left;
	margin-left: 3%;
	margin-top: 1.11%;
	height:74.2%;
	width:45%;
	background-color: #404040;
	border-radius: 15px;
}
#lower_part2{
	display: inline;
    float: left;
	height:36.8%;
	margin-left: 1%;
	width:23%;
	background-color: #404040;
	border-radius: 15px;
	margin-top: 1.11%;
}
#lower_part3{
	display: inline;
    float: left;
	height:36.8%;
	margin-left: 1%;
	width:23%;
	background-color: #404040;
	border-radius: 15px;
	margin-top: 1%;
}
#lower_part4{
	display: inline;
    float: left;
	height:35%;
	margin-left: 1%;
	width:47%;
	background-color: #404040;
	border-radius: 15px;
	margin-top: 1.5%;
}
#lower_mid_heading{
	float: left;
	display: inline;
	color:white;
	margin-left: 4.5%;
	margin-top: 4%;
	font-family: sans-serif;
	font-size: 35px;
	font-weight: bold;
}
#lower_mid_sub{
	color:white;
	font-family: sans-serif;
	font-size: 18px;
	padding-top: 9%; 
	margin-left: 4.5%;
}
#lower_part{
	color:white;
	font-family: sans-serif;
	font-size: 20px;
	font-weight: bold;
	margin-top: 10px;
	margin-left: 10px;
}
#host_link1{
	display: inline;	
	float: right;
	text-decoration: none;
	font-family: sans-serif;
	color: white;
	border: 2px solid white;
	padding: 5px;
	margin-right:5%;
	border-radius: 5px;
	margin-top: 4%;
}
#bottom{
	width: 100%;
	height: 250px;
	color:white;
}
#bottom1{
	width:25%;
	height:250px;
	float: left;
    display: inline;
}
#bottom2{
	width:25%;
	height:250px;
	float: left;
    display: inline;
}
#bottom3{
	width:25%;
	height:250px;
	float: left;
    display: inline;
}
#bottom4{
	width:25%;
	height:250px;
	float: left;
    display: inline;
}
#bottom_heading{
	margin-top: 20px;
	margin-left: 50px;
	font-weight: bold;
	font-family: sans-serif; 
	color:black;
}
#bottom_link{
	text-decoration: none;
	margin-top: 20px;
	margin-left: 50px;
	font-family: sans-serif; 
	color:grey;
}
#footer{
	width:100%;
	height: 80px;
}
#footer_length{
	width: 95%;
}
#footer_text_div{
	width: 70%;
	height: 100%;
	float:left;
}
#footer_text{
	font-family: sans-serif;
	float: left;
    display: inline;
    margin-left: 4%
}
#footer_img_div{
	width: 30%;
	display: inline;
	height: 100%;
}
#world1{
	height: 20px;
	width: 20px;
	float: right;
    display: inline;
    margin-top: 1%;
    margin-right: 1%;
}
#footer_link{
	float: right;
    display: inline;
	font-family: sans-serif; 
	color:black;
	margin-top: 1%;
    margin-right: 1%;
    text-decoration: none;
}

.link{
	color:black;
}
#footer_fb_image{
	font-size: 25px;
	float: right;
    display: inline;
    margin-top: 1%;
    margin-right: 1%;
}
#footer_twitter_image{
	font-size: 25px;
	float: right;
    display: inline;
    margin-top: 1%;
    margin-right: 1%;
}
#footer_insta_image{
	height: 20px;
	width: 20px;
	float: right;
    display: inline;
    margin-top: 1%;
    margin-right: 6%;
}